body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000;
  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  border: none;
  background-color: #fff;
}

.main-header {
  background-color: #f4f7f9;
  height: 320px;
}

.main-header ul {
  list-style: none;
}

.all-search-panel {
  background-color: #293449;
}

.search-panel {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* Логотип */
.header-logo {
  width: 220px;
  height: 47px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 darkred;

  margin-right: 17px;
}

.header-logo img {
  position: relative;
  top: 13px;
}

.header-logo:active {
  background-color: #ba2732;
}

.header-logo:hover{
  background-color: #ca2c37;
}


/* кнопки закладок, корзины */
.button-cart,
.button-bookmark,
.button-order,
.button-cart-red  {
  font-size: 17px;
  color: #fff;
  border: 0;
  vertical-align: middle;
  padding-top: 12px;
  width: 150px;
}

.button-cart,
.button-bookmark,
.button-order  {
  background-color: #293449;
}

.button-cart-red {
  background-color: #ee3643;
  }


.button-cart:active,
.button-bookmark:active  {
  color: rgba(255, 255, 255, 0.5);
  background-color: #161d29;
}

.button-cart img,
.button-bookmark img,
.search-form img {
  opacity: 0.3;
  position: absolute;
  top: 15px;
}


.button-cart:hover img,
.button-bookmark:hover img,
.search-form:hover img {
  opacity: 1;
}

.button-bookmark span,
.button-cart span {
  margin-left: 35px;
}


/* Поиск */
.button-search {
  font-size: 17px;
  color: #fff;
  border: 0;
  vertical-align: middle;
  width: 250px;
  margin-left: 30px;
  height: 42px;
  background-color: #293449;
}

.search-form img {
  left: 475px;
}

.button-search:active {
  color: #ee3643;
  background-color: #fff;
  border: none;
}

.button-search:hover {
  border: none;
}

/* кнопка оформить заказ */
.button-order {
  padding: 0;
  background-color: #63a63e;
}

.button-order:hover {
  background-color: #5fbb2d;
}

.button-order:active {
  background-color: #518534;
}



/* Текст на главной странице, номер телефона*/
.text-tel-logo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.text-tel-logo p{
  color: #ee3643;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  margin-top: 46px;
  margin-left: 53px;
}

.tel-address span{
  display: block;
  max-width: 270px;

}

.tel-company {
  width: 270px;

  padding: 8px 0;

  font-style: normal;
  font-size: 21px;
  color: #ee3643;
  text-align: center;

  border: 2px solid #fff;

  margin-right: 20px;
}

.tel-company img {
  margin-right: 40px;
}

.address-company {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  text-align: center;
  }



/* кнопка входа и регистрации */
.user-navigation {
  /* width: 285px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-navigation a {
  color: #000;
  display: block;
  padding: 12px 25px;
  vertical-align: middle;
}

.user-navigation:nth-child(2) {
  display: inline;
}
.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation,
.login-link {
  position: relative;
  }

.login-link span{
  margin-left: 14px;
}

.login-link::before {
  content: "";
  width: 20px;
  height: 17px;
  background-image: url('/Users/olgaovcharova/Study/1046891-technomart-26/img/icon-login.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 15px;
  left: 14px;
  opacity: 0.3;
  margin-right: 14px;
}

.login-link:hover::before {
   opacity: 1;
}

.button-login {
  font-size: 21px;
  line-height: 21px;

  margin-left: 10px;
  margin-top: 46px;

  max-height: 31px;
}

.button-login img{
  margin-right: 14px;
  opacity: 0.3;
}

.button-login:hover {
  color: #ee3643;
}

.button-login:active {
  color: #f1f5f7;
}

.users-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 300px;
}

.users-navigation a {
  color: #000;
  display: block;
  padding: 12px 16px;
  vertical-align: middle;
}

.nickname {
  font-size: 21px;
  padding-top: 14px;
  width: 267px;
  margin-top: 45px;
}

.nickname::before {
  content: "";
  width: 20px;
  height: 18px;
  background-image: url('/Users/olgaovcharova/Study/1046891-technomart-26/img/icon-user.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 105px;
  right: 750px;
  opacity: 0.3;
}

.nickname::after {
  content: "";
  width: 20px;
  height: 18px;
  background-image: url('/Users/olgaovcharova/Study/1046891-technomart-26/img/icon-logout.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 105px;
  right: 510px;
  opacity: 0.3;
}
/* навигация */
.site-navigation {
  list-style: none;
}

.orders {
  color: #32425c;
  font-size: 16px;
  text-decoration: underline;
}

.users-navigation li::before{
  content: "";
  position: absolute;
  top: 156px;
  right: 440px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #32425c;
  overflow: hidden;

  }

.navigation {
  height: 60px;
  background-color: #32425c;
  box-shadow: 0 5px 0 0 #293449;
  font-size: 17px;

  margin:0 auto;
}

.navigation ul {
  vertical-align: middle;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.navigation li {
  padding-top: 20px;
  padding-right: 40px;
}

.navigation a{
  color: #fff;
}

.navigatin a:hover {
 background-color: #293449;
}

.navigation a:active {
  background-color: #293449;
  opacity: 0.2;
}

/* .main-content{
  width: 940px;
/*   margin: 0 auto;
} */


/* "Хлебные крошки" */
.breadcrumb {
  display: flex;
  justify-content: space-between;
  width: 358px;
}

ul.breadcrumb {
  padding: 8px 0;
}

.breadcrumb li{
  list-style: none;

  text-transform: uppercase;
  font-size: 13px;
  font-family: 'PTSans', sans-serif;
  line-height: 18px;
}

.breadcrumb a {
  color: #000;
}

.text-content {
  background-color: #f2f6f8;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 30px;
  width: 910px;
  margin: 0;
  margin-bottom: 11px;
}

/* промо-блок */
.promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 59px;
  margin-bottom: 50px;
}

.content:nth-child(3n+1) {
  margin-right: 0;
}

.promo-block {
  width: 300px;
  height: 123px;

  font-size: 24px;
  line-height: 30px;
  color: #fff;

  display: flex;
  flex-wrap: wrap;
}

.promo-little-block {
  display: flex;
  flex-wrap: wrap;
  height: 266px;
  justify-content: space-between;
}

/* .promo-little-block:nth-child(2){
  paddin
} */

.promo-block p {
  display: flex;

  width: 135px;
  height: 20px;

  margin-top: 26px;
  margin-bottom: 13px;
}

.promo-block-text {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  padding-left: 23px;
  box-sizing: border-box;
}

.promo-block-img {
  width: 40%;
  display: flex;
  justify-content: center;

}

.promo-block a {
  display: flex;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;

  width: 111px;
  height: 20px;

  padding-top:  9px;
  padding-bottom: 9px;
  padding-left: 24px;

  text-align: center;

  opacity: 0.1;
  background-color: #000000;
  margin-bottom: 22px;
}


.new-flag {
  position: absolute;
  left: 490px;
  height: 60px;
}

.yellow-block {
  background-color: #ffbf47;
}

.yellow-c-block {
  background-color: #ffcf47;
  margin-top: 25px;
}

.blue-block {
  background-color: #3bbce3;
}

.purpl-block {
  background-color: #dc91d8;
}

.green-block {
  background-color: #8ed78f;
  margin: 20px 0;
}



/* Товары */

.popular-items-button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #f9f5f0;
  width: 910px;
  padding-left: 30px;
}

.button-all-popular {
  width: 253px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;

  background-color: #ee3643;

  margin-top: 25px;
  margin-right: 24px;
}


/* Производители */

.all-producers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
}
.producer {
  display: flex;
  position: relative;
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}


/* Сервисы */
.services {
  background-color: #f4f7f9;
  width: 100%;

  font-size: 13px;
  line-height: 24px;
  font-family: PTSans, sans-serif;
}
.services h3 {
  padding-top: 68px;
}

.services h4 {
  text-transform: uppercase;
  font-family: 'Cuprum', sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: lighter;
}

.services-navigation h3{
  color: #32425c;
}

.services-navigation {
  display: flex;
  position: relative;
  height: 333px;
}

.service-navigation {
  list-style: none;
  min-width: 240px;
  height: 183px;
  background-color: #32425c;
  padding: 0;
  margin-top: 50px;
}

.service-navigation li {
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 23px;
}

.service-navigation a{
  color: #fff;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
}

.dividers {
  margin-left: -10px;
  position: absolute;
  left: 240px;

}

.service-navigation li:hover {
  background-color: #293449;
}

.active-white a{
  color: #32425c;
}

.active-white {
  background-color: #fff;
}

.text-block {
  display: block;
  margin-left: 80px;
  z-index: 1;
}

.button-credit {
  font-family: 'Cuprum', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  min-height: 38px;
  min-width: 195px;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 60px;
}


.servises-img {
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 0;
}

.guarantee,
.credit {
  display: none;
}


/* слайдер */
.sliders {
  width: 620px;
}

.slider p{
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  font-weight: lighter;

  position: absolute;
  margin-top: 75px;
  margin-left: 24px;
}

.slider .uppercase {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 37px;
  margin-left: 24px;
}

.left,
.right {
  position: absolute;
  top: 630px;
}
.left{
  left: 275px;
}

.right {
  left: 830px;
}

.slider-item {
  display: none;
}

.slider-item:nth-child(2) {
  display: block;
}


.slider-item:nth-child(1) {
  background-image: url('/Users/olgaovcharova/Study/1046891-technomart-26/css/img/slider-image.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-item:nth-child(2) {
  background-image: url('/Users/olgaovcharova/Study/1046891-technomart-26/css/img/slide-image.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}



.button-open-catalog {
  width: 195px;
  padding: 14px 45px;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Cuprum', sans-serif;
  text-transform: uppercase;

  position: relative;
  top: 230px;
  left: 25px;
}

.button-open-catalog:hover {
  background-color: #ca2c37;
}

.button-open-catalog:active{
  background-color: #ba2732;
}

.slider-controls {
  position: absolute;
  left: 560px;
  top: 740px;
  z-index: 100;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;

  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  cursor: pointer;
  background-color: #fff;
}
.slider-controls i:first-child{
  margin-right: 10px;
}

.slider-controls i::after {
  content: "";

  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 1;

  width: 8px;
  height: 8px;

  background: red;

  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 5px;
  height: 5px;
  margin: -5px;

  background-color: inherit;
  border: 3px solid #fff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
/* Фильтры */
.filters {
  font-family: PTSans, sans-serif;
  text-transform: uppercase;
  width: 220px;
}

.filters h2 {
  font-size: 13px;
  line-height: 18px;
}

.filter-sort-header {
  display: inline-flex;
  justify-content: flex-start;
}

.filter-sort-header h2 {
  background-color: #f7f3ec;
  width: 202px;
  min-height: 26px;
  vertical-align: center;
  font-weight: normal;

  padding-left: 18px;
  padding-top: 12px;
}

.sort-arrows {
  padding-top: 8px;
}


fieldset.filters-by-type {
  padding: 0;
  margin: 0;
  margin-left: 20px;
}

.filters-by-type {
  margin-left: 20px;
  display: inline-flex;
  justify-content: space-between;
  align-self: center;
  border: none;
  background-color: #f7f3ec;
  width: 700px;
  min-height: 38px;

}
.filters-by-type p {
  margin: 0;
  padding-top: 10px;
  padding-left: 19px;

  font-size: 12px;
}

.filters-by-type a{
  display: inline;
  justify-content: flex-end;
  margin: 0;
  padding-top: 10px;
  padding-right: 19px;
  font-size: 12px;
}

.sort-by-by {
  display: inline-flex;
  flex-wrap: nowrap;
  width: 460px;
  justify-content: space-between;
}

.filter-part2 {
  display: block;
  margin-right: 20px;
}

.filter-range {
  width: 220px;
  text-transform: uppercase;
}

fieldset.price {
  padding: 0;
  margin: 0;
}

.price {
  border: 0;
  max-width: 220px;
}

.cost {
  text-align: left;
  color: #000;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  vertical-align: center;
  padding-bottom: 11px;
}

.filter-range {
  width: 220px;
}

.price-controls {
  width: 220px;
  min-height: 38px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 95px;
}

.price-controls label {
  display: inline;
  min-height: 38px;
  font-size: 17px;
  line-height: 38px;
  cursor: pointer;
  width: 93px;
  margin: 0;
}

.price-controls input {
  margin: 0;
  padding: 0;
  vertical-align: center;
  text-align: center;
  color: inherit;
  font: inherit;
  width: 95px;
  border: 0;
  border-radius: 5px;
  background: #f7f3ec;
}

.price-controls p {
  vertical-align: middle;
}
.range-controls {
  border-radius: 5px;

  position: relative;
  background-color: #f7f3ec;
  margin-bottom: 9px;
  width: 220px;
  height: 80px;
}

.range-controls .scale {
  height: 2px;
  width: 150px;
  padding-left: 30px;
  position: relative;
  top: 39px;
  left: 20px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  position: absolute;
  left: 8px;
  background: #00ca74;
}

.range-toggle {
  margin-left: 20px;
  position: absolute;
  top: 30px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: green;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 65%;
}

.sort-filter {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: space-between;
}

.sort-filter:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }

.sort-filter:nth-child(2) {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
}

.filters-items {
  display: flex;
  flex-wrap: nowrap;
}

.filters-by {
  width: 220px;
/*   display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  line-height: 20px;
  vertical-align: middle; */
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 35px;
}

.filter legend {
 font-weight: bold;
  font-size: 17px;
  line-height: 30px;

  margin-bottom: 20px;
  margin-top: 50px;
}

.filter ul {
  padding: 0;
  margin: 0;

  font-size: 15px;

  list-style: none;
  line-height: 20px;
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 45px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;

  width: 23px;
  height: 23px;

  background-image: url('/Users/olgaovcharova/Study/1046891-technomart-26/img/checkbox-off.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 0px;
  left: -42px;

  width: 27px;
  height: 23px;

  background-image: url('/Users/olgaovcharova/Study/1046891-technomart-26/img/checkbox-on.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 2;
  opacity: 0.2;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -42px;
  top: -3px;

  width: 22px;
  height: 22px;

  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 5px;
  left: -34px;

  width: 14px;
  height: 14px;

  border-radius: 50%;

  background-color: #c5c5c5;
}


.sort-by {
  background-color: #f7f3ec;
  color: #000;
  text-transform: uppercase;
  opacity: 0.3;
}

.sort-by:hover {
  opacity: 1;
  text-decoration: underline;
  text-decoration-color:  #ee3643;
}

.sort-by:active {
  opacity: 1;
  color: #ee3643;
  text-decoration: none;
}

.button-show {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;

  width: 140px;
  height: 38px;

  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.sort-up-down {
  opacity: 0.3;
/*   padding-left: 10px; */
}

.sort-up-down:hover {
  opacity: 1;
}

.sort-up-down:active{
  stroke: #ee3643;
  fill: #ee3643;
  color: #ee3643;
}

/* товары */
.items {
  font-size: 18px;
  text-align: center;
  text-transform: none;

  line-height: 20px;

  display: flex;
  flex-wrap: wrap;

  max-width: 700px;
  text-align: center;
}

.items-index {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.item {
  width: 220px;
  min-height: 318px;
  text-align: center;
}

.old-price {
  font-size: 17px;
  color:  #c5c5c5;
  text-decoration: line-through;
  text-align: center;
}

.button-price {
  width: 140px;
  height: 40px;
  background-image: url('/Users/olgaovcharova/Study/1046891-technomart-26/img/item-button.png');
  background-repeat: no-repeat;
  color: #fff;
  font-size: 17px;
  position: absolute;
  bottom: 21px;
  right: 36px;
}

.button-buy {
  width: 135px;
  height: 38px;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;

  position: absolute;
  top: 44px;
  right: 42px;

  color: #fff;
}

.button-to-bookmark {
  width: 135px;
  height: 38px;
  border: solid 3px #63a63e;
  position: absolute;
  top: 90px;
  right: 42px;
  color: #32425c;
}

.button-buy,
.button-to-bookmark {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.button-buy:hover {
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #5fbb2d;
}

.button-buy:active {
  background-color: #518534;
}

.button-to-bookmark:hover {
  border: solid 3px #32425c;
}

.button-to-bookmark:active {
  opacity: 0.3;
  border: solid 3px #32425c;
  color: rgba(50, 66, 92, 0.3);
}

.item-card {
  margin-top: 11px;
  margin-bottom: 11px;
  position: relative;
  min-height: 318px;
  min-width: 220px;
  border: 1px solid #e5e5e5;
  margin-right: 17px;
}

.item-cards {
  margin-top: 11px;
  margin-bottom: 11px;
  position: relative;
  min-height: 318px;
  min-width: 220px;
  border: 1px solid #e5e5e5;
  margin-right: 17px;
}

.item-card:nth-child(3n+1) {
  margin-right: 0;
}

.item-buttons, .item-img {
  width: 218px;
  height: 170px;
  background: #fff;
}
.item-texts {
  margin-top: 172px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.item-card .item-buttons,
.item-card .item-img,
.item-cards .item-buttons,
.item-cards .item-img {
  position: absolute;
}


.item-card:hover .item-img,
.item-cards:hover .item-img {
  display: none;
}

.item-card:hover,
.items-cards:hover  {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.new-item {
  position: relative;
  left: 92px;
  z-index: 2;
  }

.text-perforator {
  background-color: #f4f7f9;
  padding-top: 23px;
  padding-bottom: 73px;
}

.text-perforator h3,
.text-perforator p {
  width: 940px;
  margin: 0 auto;
}

.text-perforator p {
  font-family: PTSans, sans-serif;
  text-align: justify;
}

.heading {
  font-family: 'Cuprum', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  font-weight: normal;
  color: #32425c;
}

.text-perforator p{
  font-size: 13px;
  line-height: 24px;
  text-align: left;
}


/* О компании и карта */

.type-delivery li {
  list-style: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.6;
}

.type-delivery li::before {
    content:  "---";
    position: relative;
    left: -11px;
    color: #ee3643;
}

.company {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.company div.p{
  font-family: 'PTSans', sans-serif;
}

.about-company {
  display: block;

  font-size: 13px;
  line-height: 24px;

  margin-right: 121px;
}

.map {
  width: 300px;
}

.map img {
    margin-bottom: 40px;
}

.button-company,
.button-write-us {
  background-color: #ee3643;
  color: #fff;
  height: 38px;
  margin-bottom: 86px;
}

.button-company {
  width: 220px;
  margin-top: 25px;
}

.button-write-us {
  width: 300px;
}

/* попап добавление в корзину */
.popup-in-cart {
  width: 620px;
  min-height: 282px;
  box-shadow: 0 -5px 0 0 red;
  text-align: center;

  position: fixed;
  top: 50%;
  left: 30%;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.modal-check {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

}

.popup-in-cart h3 {
  margin: 68px 32px;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  width: 316px;
}

.popup-buttons {
  padding-top: 37px;
  background-color: #f1f1f1;
  height: 75px;

}

.popup-button {
  height: 38px;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 14px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

.button-popup-shop{
  color: #000;

  margin-left: 20px;
}
/* страница каталога */
.catalog-pages {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 15px;
  margin-left: 200px;
}

.catalog-pages li{
  width: 38px;
  height: 38px;
  list-style: none;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
  margin-right: 10px;
  vertical-align: middle;
}

.catalog-pages li:nth-child(4) {
  width: 140px;
  max-height: 38px;
}

.catalog-pages a {
  font-family:PTSans, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000;
  position: relative;
  top: 10px;
}

.catalog-pages li:hover {
  border-color: #bdc6ca;
}

.catalog-pages li:active {
  border-color: #ee3643;
}

li.active {
  background-color: #ee3643;
  border:none;
}

.active a{
 color: #fff;
}


/* FOOTER */
.footer-logo img {
  width: 138px;
  height: 23px;
  padding: 20px 41px 25px 41px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 darkred;
}

.main-footer {
  background-color: #293449;
  color: #fff;
  font-size: 16px;
}

.address-company-footer{
  background-color: #32425c;
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;

  display: flex;
  flex-wrap: nowrap;
}

.logo-and-adress {
  display: block;
  max-width: 325px;
  float: left;
}

.navigation-footer {
  display: flex;
  flex-wrap: wrap;

}

.navigation-footer ul {
  color: #f1f5f7;
  list-style: none;
}

.navigation-footer:hover {
  text-decoration: underline;
}

.navigation-footer:active {
  opacity: 0.5;
  text-decoration: none;
}

.white-navigation, .yellow-navigation {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
}

.white-navigation a {
  color: #fff;
  padding-left: 60px;
}

.yellow-navigation a {
  color: #ffd180;
  padding-left: 60px;
}

.white-navigation li:first-child a,
.yellow-navigation li:first-child a{
  padding-left: 0;
}

.mail-address {
  color: #ffd180;
}

.mail-address:hover {
  text-decoration: underline;
}

.mail-address:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-footer {
  min-height: 105px;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.button-social {
  background-color: #212a3a;
  width: 42px;
  height: 42px;
  border-radius: 50%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-social:hover,
.button-social:active {
  background-color: #ee3643;
}


.social-networks {
  text-align: center;
  margin-left: 110px;
}

.social-networks li{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.copyright {
  display: flex;
  background-color: #293449;
}


.feedback,
.develop {
  display: block;
  margin-left: 53px;
  width: 135px;
}


.footer-mail {
  display: flex;
  justify-content: flex-end;
  width: 350px;

  margin-left: 65px;
}

.modal-close,
.button-red {
  background-color: #ee3643;
  color: #fff;
}

