body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  visibility: hidden;
}

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  border: none;
  background-color: #fff;
}

.main-header {
  background-color: #f4f7f9;
}

.main-header ul {
  list-style: none;
}

.search-panel {
  background-color: #293449;

  display: flex;
}


/* Логотип */
.header-logo {
  width: 220px;
  height: 47px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 darkred;

  margin-right: 17px;
  margin-left: 130px;

}

.header-logo img {
  position: relative;
  top: 13px;
}

.header-logo:active {
  background-color: #ba2732;
}

.header-logo:hover{
  background-color: #ca2c37;
}


/* кнопки закладок, корзины */
.button-cart,
.button-bookmark,
.button-search {
  font-size: 17px;
  color: #fff;
  background-color: #293449;
  border: none;
}

.button-cart:active,
.button-bookmark:active  {
  color: rgba(255, 255, 255, 0.5);
  background-color: #161d29;
}

.button-cart img,
.button-bookmark img {
  opacity: 0.3;
}

.button-cart:hover img,
.button-bookmark:hover img {
  opacity: 1;
}


/* кнопка поиска */
.button-search:active {
  color: #ee3643;
  background-color: #fff;
  border: none;
}


/* кнопка оформить заказ */
.button-order {
  font-size: 17px;
  color: #fff;
  background-color: #63a63e;
}

.button-order:hover {
  background-color: #5fbb2d;
}

.button-order:active {
  background-color: #518534;
}




/* Текст на главной странице, номер телефона*/

.text-tel-logo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.text-tel-logo p{
  color: #ee3643;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;

  margin-left: 183px;
  margin-top: 46px;
}

.tel-address span{
  display: block;
}

.tel-company {
  width: 270px;
  text-align: center;
  padding: 8px;

  font-size: 21px;
  color: #ee3643;

  border: 2px solid #fff;
}

.tel-company img {
  padding-right: 40px;
}

.address-company {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  }

/* кнопка входа и регистрации */
.button-login {
  font-size: 21px;
  line-height: 21px;
  color: #000;

  margin-right: 10px;
  margin-top: 46px;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 12px;

  max-height: 33px;
}

.button-login:hover {
  color: #ee3643;
}

.button-login:active {
  color: #f1f5f7;
}

.button-login img {
  margin-right: 14px;
}



/* навигация */
.site-navigation {
  list-style: none;
}

.navigation {
  width: 940px;
  height: 60px;
  background-color: #32425c;
  box-shadow: 0 5px 0 0 #293449;
  font-size: 17px;

  margin-left: 130px;
}

.navigation ul {
  vertical-align: middle;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.navigation li {
  padding-top: 20px;
  padding-right: 40px;
}

.navigation a{
  color: #fff;
}

.navigatin a:hover {
 background-color: #293449;
}

.navigation a:active {
  background-color: #293449;
  opacity: 0.2;
}


/* "Хлебные крошки" */
.breadcrumb {
  display: flex;
  justify-content: space-between;
  width: 358px;
  margin-left: 130px;
}

ul.breadcrumb {
  padding: 0;
}

.breadcrumb li{
  list-style: none;

  text-transform: uppercase;
  font-size: 13px;
  font-family: 'PTSans', sans-serif;
  line-height: 18px;
}

.breadcrumb a {
  color: #000;
}

.text-content {
  background-color: #f2f6f8;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
}

/* промо-блок */
.promo-block {
  width: 300px;
  height: 123px;

  font-size: 24px;
  line-height: 30px;
  /* font-weight: bold; */
  color: #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.promo-block p {
/*   padding-top: 26px; */
  padding-left: 23px;
}

.promo-block a {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
}

.button-promo {
  width: 135px;
  height: 38px;

  opacity: 0.1;
  background-color: #000000;

}

.new-flag {
  position: relative;
  left: 77px;

}
.yellow-block {
  background-color: #ffbf47;
}

.yellow-c-block {
  background-color: #ffcf47;
}

.blue-block {
  background-color: #3bbce3;
}

.purpl-block {
  background-color: #dc91d8;
}

.green-block {
  background-color: #8ed78f;
}

.popular-items {
  margin-left: 30px;
}

section.items {
  margin: 0;
  padding: 0;
}

.items {
  display: flex;
  flex-wrap: nowrap;
  width: 940px;
  text-align: center;
}

.popular-items-button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #f9f5f0;
  width: 940px;
  margin-left: 130px;
}

.button-all-popular {
  width: 253px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;

  background-color: #ee3643;

  margin-top: 25px;
  margin-right: 24px;
}


/* Производители */

.all-producers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  margin-left: 130px;
}
.producer {
  display: flex;
  position: relative;
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}


/* Сервисы */
.services {
  width: 1200px;
  background-color: #f4f7f9;
  font-size: 13px;
  line-height: 24px;
  font-family: PTSans, sans-serif;
}
.services h3,
.text-margin {
    margin-left: 130px;
}

.services h4 {
  text-transform: uppercase;
  font-family: 'Cuprum', sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: lighter;
}

.navigation-discription h3{
  color: #32425c;
}

ul.service-navigation {
  padding-left: 0;
}

.service-navigation {
  list-style: none;
  min-width: 240px;
  height: 183px;
  background-color: #32425c;
  margin-left: 130px;

}

.service-navigation li {
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 23px;
}

.service-navigation a{
  color: #fff;
  font-size: 21px;
  line-height: 30px;
  vertical-align: left;

}

.service-navigation li:hover {
  background-color: #293449;
}

li.active-white {
  background-color: #fff;
  color: #32425c;
}

.navigation-discription {
  display: flex;
  flex-wrap: nowrap;
}

/* слайдер */
.slider p{
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.slider .uppercase {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

/* Фильтры */
.filters {
  font-family: PTSans, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
}

.filters h2 {
  font-size: 13px;
  font-family: ;
}

.sort-filter {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: space-between;
}

.sort-filter:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }

.sort-filter:nth-child(2) {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    }

.filters-items {
  display: flex;
  flex-wrap: wrap;
}
.producers {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filters-by {
  margin-left: 130px;
  width: 220px;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  line-height: 20px;
  vertical-align: middle;
}

.filters-by-made {
  padding:0;
  margin: 0;
  text-align: left;
  border: none;
  max-height: 250px;
}

.powers {
    font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

ul.radio {
  padding: 0;
}

.filters-by-power {
  border: none;
  padding:0;
  margin: 0;

  text-align: left;
}

.divider {
  width: 220px;
  height: 1px;
}

ul.checkbox {
  padding: 0;
}

.checkbox li,
.radio li {
  list-style: none;
  vertical-align: middle;
}

input[type="checkbox"] {
  display: none;
}

.checkbox img {
  opacity: 0.2;
  vertical-align: middle;
  padding-top: 7px;
  padding-bottom: 10px;
  padding-right: 10px;
}

input[type="radio"] {
  display: none;
}

.radio img {
  opacity: 0.2;
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
}

.sort-by {
  color: #000;
  text-transform: uppercase;
  opacity: 0.3;
}

.sort-by:hover {
  opacity: 1;
  text-decoration: underline;
  text-decoration-color:  #ee3643;
}

.sort-by:active {
  opacity: 1;
  color: #ee3643;
  text-decoration: none;
}

.button-show {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;

  width: 140px;
  height: 38px;

  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.sort-up-down {
  opacity: 0.3;
}

.sort-up-down:hover {
  opacity: 1;
}

.sort-up-down:active{
  stroke: #ee3643;
  fill: #ee3643;
  color: #ee3643;
}

/* товары */
.items {
  font-size: 18px;
  text-align: center;
  text-transform: none;

  line-height: 20px;

  display: flex;
  flex-wrap: wrap;

  margin-left: 130px;
}

.item {
  width: 220px;
  min-height: 318px;
  text-align: center;
}

.old-price {
  font-size: 17px;
  color:  #c5c5c5;
  text-decoration: line-through;
  text-align: center;
}

.button-price {
  width: 140px;
  height: 40px;
  background-image: url('/Users/olgaovcharova/Study/1046891-technomart-26/img/item-button.png');
  background-repeat: no-repeat;
  color: #fff;
  font-size: 17px;
  position: absolute;
  bottom: 21px;
  right: 36px;
}

.button-buy {
  width: 135px;
  height: 38px;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;

  position: absolute;
  top: 44px;
  right: 42px;

  color: #fff;
}

.button-to-bookmark {
  width: 135px;
  height: 38px;
  border: solid 3px #63a63e;
  position: absolute;
  top: 90px;
  right: 42px;
  color: #32425c;
}

.button-buy,
.button-to-bookmark {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.button-buy:hover {
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #5fbb2d;
}

.button-buy:active {
  background-color: #518534;
}

.button-to-bookmark:hover {
  border: solid 3px #32425c;
}

.button-to-bookmark:active {
  opacity: 0.3;
  border: solid 3px #32425c;
  color: rgba(50, 66, 92, 0.3);
}

.item-card {
  margin-top: 21px;
  margin-bottom: 21px;
  position: relative;
  min-height: 318px;
  min-width: 220px;
  border: 1px solid #e5e5e5;
}

.item-card:not(:last-child){
  margin-right: 17px;
}

.item-buttons, .item-img {
  width: 218px;
  height: 170px;
  background: #fff;
}
.item-texts {
  margin-top: 172px;
}
.item-card .item-buttons,
.item-card .item-img {
  position: absolute;
}
.item-card:hover .item-img {
  display: none;
}

.item-card:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.new-item {
  position: relative;
  left: 91px;
  z-index: 2;
  }

.text-perforator {
  background-color: #f4f7f9;
  font-family: PTSans, sans-serif;
  padding: 67px 132px 73px 130px;
}

.heading {
  font-family: 'Cuprum', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  font-weight: normal;
  color: #32425c;
}

.text-perforator p{
  font-size: 13px;
  line-height: 24px;
  text-align: left;
}


/* О компании и карта */

.type-delivery li {
  list-style: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.6;
}

.type-delivery li:before {
    content:  "---";
    position: relative;
    left: -11px;
    color: #ee3643;
}


.company {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.company div.p{
  font-family: 'PTSans', sans-serif;
}

.about-company {
  display: block;

  width: 519px;

  font-size: 13px;
  line-height: 24px;

  margin-left: -90px;
  margin-right: 121px;
}

.map {
  width: 300px;
}


.button-company,
.button-write-us {
  background-color: #ee3643;
  color: #fff;
  height: 38px;
  margin-bottom: 86px;
}

.button-company {
  width: 220px;
}

.button-write-us {
  width: 300px;
}

/* попап добавление в корзину */
.popup-in-cart {
  width: 620px;
  min-height: 282px;
  box-shadow: 0 -5px 0 0 red;
  text-align: center;
}

.popup-in-cart h3 {
  font-size: 30px;
  line-height: 30px;
}

.popup-buttons {
  background-color: #f1f1f1;
  min-height: 112px;
}

.button-popup-order {
  background-color: #ee3643;
}

/* страница каталога */
.catalog-pages {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 15px;
}

.catalog-pages li{
  width: 38px;
  height: 38px;
  list-style: none;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
  margin-right: 10px;
  vertical-align: middle;
}

.catalog-pages li:nth-child(4) {
  width: 140px;
  height: 38px;
}

.catalog-pages a {
  font-family:PTSans, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000;
  position: relative;
  top: 12px;
}

.catalog-pages li:hover {
  border-color: #bdc6ca;
}

.catalog-pages li:active {
  border-color: #ee3643;
}

li.active {
  background-color: #ee3643;
  border-color: red;
}

.active a{
 color: #fff;
}


/* FOOTER */
.footer-logo img {
  width: 138px;
  height: 23px;
  padding: 20px 41px 25px 41px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 darkred;
}

.main-footer {
  background-color: #32425c;
  color: #fff;
  font-size: 16px;
}

.address-company-footer{
  background-color: #293449;
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;

  display: flex;
  flex-wrap: nowrap;
}

.logo-and-adress {
  margin-left: 130px;
  display: block;
  min-width: 325px;
}

.navigation-footer {
  display: flex;
  flex-wrap: wrap;

}

.navigation-footer ul {
  color: #f1f5f7;
  list-style: none;
}

.navigation-footer:hover {
  text-decoration: underline;
}

.navigation-footer:active {
  opacity: 0.5;
  text-decoration: none;
}

.white-navigation {
  display: inline-flex;
}

.yellow-navigation {
  display: inline-flex;
}

.white-navigation a {
  color: #fff;
  padding-left: 60px;
}

.yellow-navigation a {
  color: #ffd180;
  padding-left: 60px;
}

.mail-address {
  color: #ffd180;
}

.footer-footer {
  min-height: 105px;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.button-social {
  background-color: #212a3a;
  width: 42px;
  height: 42px;
  border-radius: 50%;

/*   display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: center; */
}

.social-networks {
  text-align: center;
}

.social-networks  li{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50px;

  list-style: none;
}


.copyright {
  display: flex;

  margin-left: 130px;
}


.feedback,
.develop {
  display: block;
}


.modal-close,
.button-red {
  background-color: #ee3643;
  color: #fff;
}

